@use "./src/styles/reset";
@use "./src/styles/variables" as v;

@use "./src/styles/phone-styles.scss";
@use "./src/styles/tablet-styles.scss";
@use "./src/styles/desktop-styles.scss";

:root {
  font-family: Georgia, "Times New Roman", Times, serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1rem;
  background-color: v.$background-color;
  //border-top: 7px solid v.$accent-color;
}

main {
  margin: 3rem auto;
  padding: 0 2rem;
  max-width: 60rem;
}

/* STATUS */
.hidden {
  display: none !important;
}

.active {
  font-weight: bold;
  color: v.$accent-color;
}

/* BUTTONS */
.btn,
.cta {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid v.$contrast-color;
  padding: 0.5rem 1rem;
  cursor: pointer;

  &:hover {
    color: v.$neutral-color;
    background-color: v.$contrast-color;
  }
}

.btn {
  background-color: v.$neutral-color;
}

.cta {
  border: none;
  color: v.$neutral-color;
  background-color: v.$contrast-color;

  &:hover {
    background-color: v.$accent-color;
  }
}

/* TEXTS */

h1 {
  font-size: 3rem;
}

h2 {
  margin-bottom: 1rem;
}

a {
  color: v.$contrast-color;
  text-decoration: none;

  &:not(.btn, .cta):hover {
    text-decoration: underline;
  }

  &.icons:hover {
    color: v.$accent-color;
  }
}

.title,
a.title {
  font-size: 1.2rem;
  font-weight: bold;
  color: v.$accent-color;
}

p {
  margin: 1rem 0;
}

cite {
  display: block;
  font-size: 1.2rem;
  padding-left: 1rem;
  border-left: 2px solid v.$accent-color;
  margin: 2rem;
}
