@use "./src/styles/reset";
@use "./src/styles/variables" as v;

@use "./src/styles/phone-styles.scss";
@use "./src/styles/tablet-styles.scss";
@use "./src/styles/desktop-styles.scss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1rem;
}

a {
  color: black;
  text-decoration: none;
}

main {
  margin: 10rem auto;
  width: 65%;
}

.hidden {
  display: none !important;
}
