@use "./src/styles/variables" as v;

@media (min-width: 992px) {
  header {
    flex-wrap: nowrap;

    .menu {
      order: unset;
      width: max-content;
    }
  }

  .page-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
  }
}
