@use "./src/styles/variables" as v;

/** HEADER **/
header {
  position: relative;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: skretch;
  //height: v.$header-height;
  border-bottom: 1px solid black;

  .buttons {
    display: none;
  }
}

.logo {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-right: v.$border;
}

.menu {
  padding: 1rem 2rem;
  display: none;
  align-self: center;
  justify-content: center;
  align-items: skretch;
  gap: 1.5rem;
}

.navigation {
  padding: 1rem 2rem;
  button {
    all: unset;
    font-size: 2rem;
  }
}

.sidenav {
  position: absolute;
  z-index: 2;
  inset: 0;
  top: calc(v.$sidebar-offset + 2rem);
  padding: 1rem;
  background-color: v.$background-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s;

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &__buttons {
    margin: -1rem;
    display: grid;
    text-align: center;

    a {
      justify-content: center;
      padding: 1rem;
    }
  }
}

/** ARTICLE **/
.headline {
  margin-bottom: 2rem;
  &__text {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__cover {
    &--img {
      margin-bottom: 0.5rem;
      max-height: 25rem;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    &--description {
      font-size: 0.8rem;
      line-height: 1rem;
      color: v.$grey;
    }
  }
}

.credits {
  font-style: italic;
}

.toolbar {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

/* NEWSLETTER */
.newsletter {
  padding: 1rem;
  margin-bottom: 1rem;
  border: v.$border;

  &__form {
    display: flex;
    margin: 1rem -1rem -1rem;

    &--input {
      width: 100%;
      border: none;
      padding: 0.5rem 1rem;
    }

    &--button {
      border: none;
      background-color: v.$accent-color;
      color: v.$neutral-color;
      padding: 0.5rem 1rem;
      cursor: pointer;

      &:hover {
        background-color: v.$contrast-color;
      }
    }
  }
}

/* OTHER ARTICLE */
.latest {
  padding: 1rem;
  border: v.$border;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  margin: 1px -1rem 0;
  outline: v.$border;
  //border-top: v.$border;
  padding: 1rem;

  &:first-of-type {
    margin-top: 1rem;
  }

  &:last-of-type {
    margin-bottom: -1rem;
  }

  &:hover {
    background-color: v.$neutral-color;
  }

  &__cover {
    width: 100%;
    max-height: 10rem;
    object-fit: cover;
    object-position: center;
  }

  &__content {
    padding-top: 0.5rem;
  }
}

.details {
  font-style: italic;
  font-size: 0.8rem;
  color: v.$grey;
}

/* FOOTER */
.footer {
  padding: 2rem;
  border-top: v.$border;
  background-color: v.$neutral-color;

  &__socials {
    align-self: start;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    .buttons {
      font-size: 1.5rem;
      display: flex;
      gap: 1rem;
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
