@use "./src/styles/variables" as v;

@media (min-width: 768px) {
  header {
    flex-wrap: wrap;

    .menu {
      display: flex;
      order: 3;
      width: 100%;
      border-top: 1px solid black;
    }

    .buttons {
      display: flex;

      a {
        border-top: none;
        border-bottom: none;
        padding: 1rem 2rem;
      }
    }

    .navigation {
      display: none;
    }
  }

  .thumbnails {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .thumbnail {
    margin: 0;

    &:nth-child(odd) {
      margin: 0 0 -1rem -1rem;
    }

    &:nth-child(even) {
      margin: 0 -1rem -1rem 1px;
    }
  }

  footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
    column-gap: 20rem;
  }
}
